<h1>Places I have been</h1>

<p>Here is my list of places</p>

<ul>
  <% @locations.each() do |location| %>
  <li><%= location.location() %></li>
  <% end %>
</ul>

<p>List a place you've been</p>
<form action="/confirmation" method="post">

  <div class="form-group">
    <label for="location">Location</label>
    <input id="location" name="location" class="form-control" type="text">
  </div>

  <button type="submit">Add location</button>
</form>
<form action="/clear" method="post">
  <button type="submit">Clear list</button>
</form>
